---
- name: Install Git and Curl on remote EC2
  hosts: server1
  become: true

  tasks:
  - name: Update apt packages
    apt:
      update_cache: yes

  - name: Install Git and Curl
    apt:
      name:
        - git
        - curl
      state: present

  - name: Check Git version
    command: git --version
    register: git_version

  - name: Display Git version
    debug:
      msg: "Git version: {{ git_version.stdout }}"
