- name: Question_2
  hosts: tag_Name_Ansible
  gather_facts: False
  vars:
    required_packages:
      - git
      - curl
      - nginx

  tasks:
    - name: Install Git and Curl on remote EC2
      block:
        - name: install Required packages
          package:
            name: "{{ required_packages }}"
            state: present
            update_cache: yes

      rescue:
          - name: Remove packages
            package:
              name: "{{ required_packages }}"
              state: absent
              update_cache: yes